// This allows you sto set custom settings
// Preferable copy this file and relink it in ossa.scss when adding custom changes

$sizes: '0-5', '1', '1-5', '2', '2-5', '3', '3-5', '4', '4-5', '5', '5-5';

$lg:    1024px; // Desktop
$xl:    1440px; // Large Desktop