:root {

    // BASIC SIZING
        // 1rem = 16px | 0.625rem = 10px;
        --sz-1: var(--custom-sizing-1, 0.5rem);

        @each $size in $sizes {
            @if $size != '1' {
                --sz-#{$size}: calc(var(--sz-1) * #{$size});
            }
        }

    // FONT SIZING
        --font-sz-1: var(--custom-body-text-size, calc(var(--sz-1) * 1.6));

        @each $size in $sizes {
            @if $size != '1' {
                --font-sz-#{$size}: calc(var(--font-sz-1) * #{$size});
            }
        }

    // CONTAINER
        --container: calc(var(--sizing-1) * $lg);

}

@media (min-width: $lg) { // Small desktop and/or iPad in landscape
    :root {
        --sz-1: var(--custom-sizing-1,  0.625rem);
        --font-sz-1: calc(var(--sz-1) * 1.9);
    }
}

// @media (min-width: $xl) { // Large Desktop
//     :root {
//         --container: calc(var(--sizing-1) * ($xl * 0.80) );
//     }
// }